name: Build

on:
  push:
    branches:
      - main
      - "releases/**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Install Tweego
        run: |
          wget -q https://github.com/tmedwards/tweego/releases/download/v2.1.1/tweego-2.1.1-linux-x64.zip
          unzip -q tweego-2.1.1-linux-x64.zip -d tweego-temp
          chmod +x tweego-temp/tweego
          sudo mv tweego-temp/tweego /usr/local/bin/
          rm -rf tweego-temp tweego-2.1.1-linux-x64.zip

      - name: Build Twine SugarCube game
        run: |
          mkdir dist
          tweego src js/init js/control js/game js/ui assets -o dist/index.html
          cp -r assets dist/

      - name: Push to deployment branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: deploy
          force_orphan: true
